@import 'app/styles/colors.scss';

.main {
    background:$primaryBackground;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mainWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
}

.container{
    display: flex;
    align-items: center;
    gap: 24px;
}