@import "app/styles/colors.scss";

.main {
  width: 100%;
  background-color: black;
  min-height: 100vh;
  padding: 32px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper {
  display: flex;
  gap: 32px 24px;
  flex-wrap: wrap;
}

.title {
  color: $textWhite;
  font-size: 24px;
  font-weight: 500;
  align-self: stretch;
}

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.inp{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.inputFile{
  display: none;
}

.inputsWrapper input,
.inputsWrapper textarea {
  border-radius: 12px;
  border: 1px solid #FFF;
  background: none;
  padding: 20px 16px;
  width: 438px;
  color: white;
  outline: none;
}

.inputsWrapper input::placeholder,
.inputsWrapper textarea::placeholder {
  color: rgba(255, 255, 255, 0.45);
  font-size: 20px;
  font-weight: 300;
}

.inputsWrapper textarea {
  height: 114px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}



.fileInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #565656;
  border-radius: 24px;
  cursor: pointer;
}