$primaryBackground: linear-gradient(92deg, #E82567 -8.96%, #3453EA 107.31%);
$primaryCyan: #3DDEED;
$textGrey: #FFFFFF99;
$textWhite: #FFFFFF;
$blackBackground: #050505;
$secondaryBlack: rgba(20, 7, 33, 0.15);
$primaryBlack: #131313;
$secondaryLightBlack: #1C1C1C;
$primaryPink: #E82567;
$secondaryPinkHover: #FF1A67;
$primaryPinkActive: rgba(232, 37, 103, 0.82);
$primaryBlue: #1DD5E6;
$primaryBlueHover: #0FF;
$primayBlueActive: rgba(19, 172, 172, 0.60);
