$primaryBackground: linear-gradient(92deg, #E82567 -8.96%, #3453EA 107.31%);
$primaryCyan: #3DDEED;
$textGrey: #FFFFFF99;
$textWhite: #FFFFFF;
$blackBackground: #050505;
$secondaryBlack: rgba(20, 7, 33, 0.15);
$primaryBlack: #131313;
