@import 'app/styles/colors.scss';

.aside{
    background: $primaryBlack;
    height: 100vh;
    width: 223px;
}

.items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.asideWrapper{
    padding: 40px;
}