@import 'app/styles/colors.scss';

.wrapper {
    max-width: 467px;
    width: 100%;
    position: relative;
}

.container {
    width: 467px;
    border-radius: 24px;
    background: $secondaryBlack;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
}

.inputTyping {
    border-radius: 24px 24px 0 0;
    width: 467px;
    margin: auto;
    background-color: $blackBackground;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
}

.input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    color: $textWhite;
}

.searchIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.input::placeholder {
    color: $textGrey;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.results {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 0 21px 21px;
    background: $blackBackground;
    border: none;
    overflow-y: auto;
    z-index: 1;
    padding: 8px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.results li {
    color: $textWhite;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 16px;
    cursor: pointer;
}

.noResults {
    color: $textWhite;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 16px;
}