@import "app/styles/colors.scss";

.albumCard {
  display: flex;
  flex-direction: column;
  width: 176px;
  align-items: center;
  gap: 16px;
  position: relative;
  cursor: pointer;

  &:hover .albumTitle,
  &:hover .artistName {
    opacity: 0.3;
  }

  &:hover .hoverbtn {
    opacity: 1;
    pointer-events: auto; 
  }
}

.albumName {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
}

.albumImg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.albumTitle {
  color: $textWhite;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.artistName {
  color: $textGrey;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity 0.3s ease;
}

.hoverbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;  
  transition: opacity 0.3s ease;
}

.popBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.74);
}

.popContainer {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
