@import "app/styles/colors.scss";

.btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.containerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main {
    width: 100%;
    background-color: black;
    min-height: 100vh;
    padding: 32px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    color: $textWhite;
    font-size: 24px;
    font-weight: 500;
    align-self: stretch;
}

.btns button {
    padding: 8px 16px;
}

.noAlbum {
    font-size: 50px;
    color: #FFF;
    text-align: center;
}

.popBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.74);
}

.popContainer {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

// New styles for the music list
.musicList {
  display: flex;
  flex-direction: column;
  gap: 8px; // Adjust gap as needed
  width: 100%; // Ensures it takes full width of the card
  padding: 8px 0; // Add some padding for aesthetics
}

.musicItem {
  background-color: white; // Use a background color of your choice
  color: black; // Use a text color of your choice
  padding: 10px 12px; // Padding for better touch targets
  border-radius: 8px; // Rounded corners
  font-size: 14px; // Adjust font size as necessary
  font-weight: 400; // Adjust font weight as necessary
  transition: background-color 0.3s ease; // Smooth background transition

 
}
